DB_USER=zach or your username
DB_HOST=localhost
DB_NAME=stagethree
DB_PASSWORD=
DB_PORT=5432
JWT_SECRET=your_JWT_secret_key_generate_one
TURNSTILE_SECRET=your_turnstile_secret
R2_PUBLIC_URL=your_r2_bucket_url
R2_ACCOUNT_ID=your_r2_account_id
R2_ACCESS_KEY_ID=your_r2_access_key
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_BUCKET_NAME=your_r2_bucket_name
R2_PUBLIC_DOMAIN=https://pub-69909cf75f764e599dc141922a0696eb.r2.dev
DEMO_USER_PASSWORD=your_demo_user_pwd
ADMIN_USER_PASSWORD=your_admin_user_password
REGULAR_USER_PASSWORD=your_regular_user_password
SUPER_USER_PASSWORD=your_sudo_password
